.scroll-down {
    position: absolute;
    right: -20px;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
    color: #E2DCC8;
  }
  .scroll-down--left {
    left: -30px;
    right: auto;
  }
  .scroll-down span {
    display: inline-block;
    animation: scroll 0.5s linear infinite alternate-reverse;
  }
  @keyframes scroll {
    0% {
      transform: translateX(-7px);
    }
    100% {
      transform: translateX(7px);
    }
  }
  .scroll-down .fas {
    transform: rotate(270deg);
    margin-left: 10px;
  }



table
{

    color:wheat;    
    border: 1px solid wheat;
    width: 85%;
    height: fit-content;
}
td
{
    width: 50%;
    text-align: center;
    margin-top: 50px;
    border: 1px solid wheat;
}